handy.*
*.cbp
*.o
*.a
a*
*.mk
*.pb.*
ssl
openssl-example
*/*.dSYM
.*
CMake*
10m/10m-cli
10m/10m-svr
examples/chat
examples/cli
examples/codec-cli
examples/codec-svr
examples/daemon
examples/echo
examples/hsha
examples/http-echo
examples/log
examples/stat
examples/write-on-empty
examples/http-hello
examples/idle-close
examples/reconnect
examples/safe-close
examples/timer
examples/udp-cli
examples/udp-svr
examples/udp-hsha
raw-examples/epoll
raw-examples/epoll-et
raw-examples/kqueue
handy_test
protobuf/middle
protobuf/test
